In [14]:
import pandas as pd 
import numpy as np

In [15]:
from IPython.display import display_html
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

In [16]:
rng = np.random.default_rng()


df_1 = pd.DataFrame({'to': [1]*8,'order_a': rng.permutation(range(8)),'order_b': rng.permutation(range(8))})
df_2 = pd.DataFrame({'to': [2]*5,'order_a': rng.permutation(range(5)),'order_b': rng.permutation(range(5))})

df = df_1.append(df_2)
display_side_by_side(df)

,to,order_a,order_b
0,1,6,5
1,1,5,3
2,1,0,2
3,1,7,4
4,1,2,0
5,1,4,1
6,1,1,7
7,1,3,6
0,2,2,1
1,2,4,4
2,2,1,0
3,2,0,2
4,2,3,3

In [17]:
def order_crossover_node(order_A, order_B, rng):
    """
    order_A and order_B are columns of a dataframe
    """

    l_0 = int(np.floor(len(order_A)/2))
    i = rng.choice(np.arange(l_0+1))

    list_A = list(order_A)
    list_B = list(order_B)
    list_AB = list_A[i: i+l_0+1] 

    new_list = list_B.copy()
    for edge in list_AB:
        new_list.remove(edge)    
    
    return pd.Series(list_AB + new_list)

In [18]:
# df['order_ab'] = order_crossover_node(df['order_a'], df['order_b'], rng)

df.groupby(by='to').apply(lambda x: order_crossover_node(x['order_a'], x['order_b'], rng)).values

array([2, 4, 1, 3, 5, 0, 7, 6, 1, 0, 3, 4, 2], dtype=int64)

In [26]:
df['to'].value_counts().reset_index().values

array([[1, 8],
       [2, 5]], dtype=int64)